.applicationTitle {
    -fx-font-family: serif;
    -fx-font-size: 26px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.projectDetails,
.sectionTitle {
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-underline: true;
}
