.applicationTitle {
    -fx-font-family: serif;
    -fx-font-size: 26px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.projectDetailsLabels,
.projectDetailsText {
    -fx-font-size: 14px;
}

.projectDetailsLabels {
    -fx-font-style: italic;
    -fx-underline: true;
}

.projectDetailsText {
    -fx-font-weight: bold;
}

.sectionTitle {
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-underline: true;
}
