body {
    font-family: sans-serif;
}

.sectionTitle {
    font-size: large;
    font-style: italic;
}

.initials {
    font-weight: bold;
}

dt {
    padding-top: .5em;
}

.projectDetailsLabels {
/*    font-weight: bold;*/
    font-style: italic;
}

.projectDetailsText {
/*    font-style: italic;*/
}

